* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}


ul {
    display: flex;
    flex-direction: row;

    /* Habilitar los saltos de líneas de elementos en el contenedor */
    flex-wrap: wrap;
}

li {
    list-style: none;
}

@media (min-width: 992px) {
    article ul li img {
        width: 48px;
        height: 48px;
    }

    li {
        /* Indicar cuánto espacio ocupa cada elemento en el contenedor  */
        flex-basis: 25%;
        margin-bottom: 8px;
    }

    .foto-ivan {
        margin-top: 64px;
    }

    .logo-ancho {
        width: 64px;
        height: 48px;
    }

}