<h2 class="text-decoration-underline">Sobre mí</h2>
<p>Hola, soy Iván y me <b>encanta</b> la <b>programación</b>. Estudio informática <b>desde</b> el año <b>2019</b> y tengo muy claro que es el ámbito profesional al que me quiero dedicar durante toda mi vida.</p>
<p>Mis estudios sobre las Tecnologías de la Información y la Comunicación (TIC) abarcan la <b>Administración de Sistemas Informáticos y Bases de Datos</b>, el <b>Desarrollo Web FullStack</b> y el <b>Big Data, InteligenciaArtificial, Ciencia de Datos y Prompting Engineering</b>.</p>
<p>Actualmente estoy <b>buscando trabajo</b> como <b>Desarrollador Web</b> y así demostrar que puedo crear soluciones reales como <b>programador Junior</b> y <b>mejorar y aprender cada día</b>.</p>
