<h2>BackEnd</h2>
<table>
    <th>Tecnología</th>
    <th>Lenguaje Utilizado</th>
    <th>Fecha Inicio Estudio</th>
    <th>Nivel</th>
    <tr>
        <td>Flask</td>
        <td>Python</td>
        <td>2023</td>
        <td>Medio</td>
    </tr>
    <tr>
        <td>.NET 6.0</td>
        <td>C#</td>
        <td>2023</td>
        <td>Medio</td>
    </tr>
    <tr>
        <td>Laravel</td>
        <td>PHP</td>
        <td>2024</td>
        <td>Bajo</td>
    </tr>
    <tr>
        <td>Python</td>
        <td></td>
        <td>2021</td>
        <td>Alto</td>
    </tr>
    <tr>
        <td>Java</td>
        <td></td>
        <td>2021</td>
        <td>Medio</td>
    </tr>
    <tr>
        <td>PHP</td>
        <td></td>
        <td>2019</td>
        <td>Medio - Alto</td>
    </tr>
</table>