

<div class="contenedor-tecnologias width-sm-100 bg-tecnologias">
    <article class="col-lg-6 col-sm-12 borde-ligero">
        <h2>Tecnologías FrontEnd</h2>
        <ul class="lista-tecnologias">
            <li>
                <a href="#pito">
                    <img class="hover-resize" src="assets/front/logo-angular.png" alt="">
                </a>
            </li>
            <li><img class="hover-resize" src="assets/front/logo-html.png" alt=""></li>
            <li><img class="hover-resize" src="assets/front/logo-css.png" alt=""></li>
            <li><img class="hover-resize" src="assets/front/logo-javascript.png" alt=""></li>
            <li><img class="hover-resize" src="assets/front/logo-typescript.png" alt=""></li>
        </ul>
    </article>

    <article class="col-lg-6 borde-ligero col-sm-12">
        <h2>Tecnologías BackEnd</h2>
        <ul class="lista-tecnologias">
            <li><img class="hover-resize" src="assets/backend/dotnet-core-icon.png" alt=""></li>
            <li><img class="hover-resize" src="assets/backend/python-logo.png" alt=""></li>
            <li><img class="hover-resize" src="assets/backend/logo-java.png" alt=""></li>
            <li><img class="hover-resize" src="assets/backend/logo-laravel.png" alt=""></li>
            <li><img class="logo-ancho hover-resize" src="assets/backend/logo-php.png" alt=""></li>
        </ul>
    </article>

    <article class="col-lg-6 borde-ligero col-sm-12">
        <h2>Tecnologías Base de Datos</h2>
        <ul class="lista-tecnologias">
            <li><img class="logo-ancho-largo hover-resize" src="assets/bdd/logo-oracle.png" alt=""></li>
            <li><img class="logo-ancho-largo hover-resize" src="assets/bdd/logo-mysql.png" alt=""></li>
            <li><img class="logo-ancho-largo hover-resize" src="assets/bdd/logo-phpmyadmin.png" alt=""></li>
            <li><img class="logo-ancho-largo hover-resize" src="assets/bdd/logo-sql-server.png" alt=""></li>
            <li><img class="logo-ancho-largo hover-resize" src="assets/bdd/logo-mongodb.png" alt=""></li>
        </ul>
    </article>

    <article class="col-lg-6 borde-ligero col-sm-12">
        <h2>Otras tecnologías</h2>
        <ul class="lista-tecnologias">
            <li><img class="hover-resize" src="assets/otros/logo-aws.png" alt=""></li>
            <li><img class="hover-resize" src="assets/otros/logo-openai.png" alt=""></li>
            <li><img class="hover-resize" src="assets/otros/logo-azure.png" alt=""></li>
            <li><img class="logo-ancho hover-resize" src="assets/otros/logo-docker.png" alt=""></li>
        </ul>
    </article>
</div>