<h2 class="text-decoration-underline">Experiencia Laboral</h2>
<ul class="lista-colores pt-lg-4">
    <li>
        <article class="row">
            <h3>Autónomo</h3>
            <h4>Profesor Particular de Programación</h4>
            <p>Imparto clases particulares de programación en las tecnologías Python, Java, JavaScript, TypeScript, HTML y CSS.</p>
            <p>Desde 09/09/2023 hasta la actualidad.</p>
        </article>
    </li>
    <li>
        <article class="row">
            <h3>SEPE</h3>
            <h4>Profesor de Informática</h4>
            <p>Enseñé a un grupo de 15 personas a cómo utilizar el ordenador, programas ofimáticos, navegación en la web, creación de correo electrónico y perfil de LinkedIn e InfoJobs.</p>
            <p>28/08/2023 - 8/09/2023</p>
        </article>
    </li>
    <li>
        <article class="row">
            <h3>ICP</h3>
            <h4>Desarrollador Web FullStack (Estudiante de Prácticas)</h4>
            <p>Me formaron en las tecnologías Angular, .NET 6.0, Microsoft SQL Server, Git y Github. Además, mejoré mis habilidades de programación, análisis de datos y resolución de problemas.</p>
            <p>10/04/2023 - 23/06/2023</p>
        </article>
    </li>
</ul>