<h2 class="text-decoration-underline">Mis proyectos</h2>
<ul class="d-flex flex-column gap-lg-3">
    <li>
        <h3>Traductor y clasificador de texto</h3>
        <p>Aplicación de consola donde uso la IA y el Prompting Engineering para traducir un texto a los
            idiomas que pidas y puede clasificar texto como apto para todos los públicos opotencialmente
            dañino. Faltan las API KEYs</p>
        <p>Python, API de OpenAI.</p>
    </li>

    <li>
        <h3>Traductor de texto y audio</h3>
        <p>Aplicación web, clon del traductor de Google que usa la IA de Azure para traducir texto
            y audio. Faltan las API KEYs.</p>
        <p>Python, Flask, Azure Cognitive Services.</p>
    </li>

    <li>
        <h3>Descargar vídeos de Youtube en mp3</h3>
        <p>Aplicación de escritorio que te permite descargar el audio de vídeos de YouTube a partir
            de la url del vídeo.</p>
        <p>Python, tkinter, pytube.</p>
    </li>

    <article>
        <h3>Países y Temperaturas</h3>
        <p>Aplicación web que permite buscar un país de la UE y obtener y mostrar algunos datos de
            la API restcountries.</p>
        <p>Python, Flask, MySQL.</p>
    </article>

    <article>
        <h3>Portfolio Web Tatuadora</h3>
        <p>Página web a modo de portfolio de una tatuadora.</p>
        <p>Angular 16, Git.</p>
    </article>

    <article>
        <h3>Ivan - SoniFy</h3>
        <p>Aplicación web basada en el servicio de música en streaming de Spotify.</p>
        <p>Angular 16, .Net 6.0, Git.</p>
    </article>
</ul>