<body class="container-lg container-md p-lg-5">
    <header class="row borde-ligero-sm">
        <!-- * Izquierda. Foto + correo y linkedin -->
        <imagen-y-contactos class="col-lg-4 col-sm-4 padding-right sm-0-padding"></imagen-y-contactos>

        <!-- * Derecha. Titulo + tablas -->
        <section class="col-lg-8 col-sm-8 padding-left sm-0-padding">
            <article class="padding-sm-custom mb-16-px">
                <h1>Iván Gómez Calvo</h1>
                <h2>Desarrollador Web Junior FullStack. Prompting Engineer. Científico de datos.</h2>
            </article>
            <mis-tecnologias></mis-tecnologias>
        </section>

    </header>

    <hr>

    <main class="row mt-lg-5 d-lg-flex flex-lg-row justify-content-lg-center flex-row-espaciado-lg">
        <section class="col-lg-9 flex-row-espaciado-lg">
            <sobre-mi class="row"></sobre-mi>

            <estudios class="row"></estudios>
        </section>

        <section class="py-lg-3 col-lg-9">
            <experiencia-laboral class="py-lg-3 col-lg-9"></experiencia-laboral>
        </section>

        <section class="row py-lg-3 d-lg-flex flex-lg-row justify-content-lg-center">
            <div class="col-lg-9">
                <mis-proyectos></mis-proyectos>
            </div>
        </section>
    </main>

    <hr>

    <footer class="row d-lg-flex flex-lg-row justify-content-lg-center">
        <section class="mt-lg-3 d-lg-flex flex-lg-row justify-content-lg-center">
            <div class="col-lg-9 flex-row-espaciado-lg">
                <h2>Información detallada de mis conocimientos</h2>

                <conocimientos-frontend class="row"></conocimientos-frontend>
                <conocimientos-backend class="row"></conocimientos-backend>
                <conocimientos-otros class="row"></conocimientos-otros>
            </div>
        </section>
    </footer>
</body>